:root {
  --background: #ffeca1;
  --tableHeader: #ffb05f;
  --highlighted: #e0f2f1;
  --offWhite: #fffef7;
  --teal: #26a69a;
  --teal2: #b2dfdb;
  --teal3: #80cbc4;
  --teal4: #00796b;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: var(--background);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin-left: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

input {
  overflow: visible;
}

.table-container {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

td {
  padding: 7px;
}

td,
th {
  border-radius: 0px;
}

.vis-table {
  margin: 0 px;
  margin-bottom: 20px;
  padding: 5 px;
  background-color: var(--offWhite);
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-width: 100px;
  max-width: 250px;
}

.table-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  background-color: var(--tableHeader);
}

#last-search {
  margin: 20px;
  padding: 5px;
  background-color: #fffef7;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.query-box {
  margin: 20px;
  background-color: #fffef7;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.select-box {
  margin: 20px;
  margin-top: 37px;
  background-color: #fffef7;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.inner-query-box {
  margin: 20px;
  padding: 10px;
}

#submit-row {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.btn {
  margin-left: 12px;
}

#inner-query-box {
  width: 95%;
}

.highlighted,
#highlighted {
  background-color: var(--highlighted);
}

.bold-title {
  font-weight: bold;
}

.result-table {
  width: 100%;
}

.collection-item:hover {
  cursor: pointer;
}

.result-body {
  background-color: var(--offWhite);
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  width: 80%;
}

.result-header {
  background-color: var(--highlighted);
}

.defaultHistory {
  padding-left: 25px;
}

.menuItem {
  padding: 2px;
  display: flex;
  align-items: center;
  background-color: var(--offWhite);
}
.menuItemHeader {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
  font-size: 40;
  color: var(--offWhite);
}

.key {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 20px;
}

.collection {
  border: none;
}

.menuIcon {
  padding-right: 10px;
  padding-left: 3px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: var(--highlighted);
  padding-left: 10px;
}

.footer a {
  color: var(--teal);
}

h5 {
  font-weight: 300;
  font-size: 20px;
  color: black;
  height: 1.5rem;
  line-height: 1.5rem;
}

.scrollspy p {
  color: black;
}

.scrollspy div {
  background-color: var(--offWhite);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4 {
  font-weight: 300;
  color: black;
  text-align: center;
}

.brand-logo {
  font-weight: 500;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.topDiv {
  display: flex;
  justify-content: space-between;
}

.topLeftDiv {
  width: 80%;
  margin-top: 18px;
}

.topRightDiv {
  width: 20%;
  margin-top: 30px;
}

.sectionTitle {
  background-color: var(--teal);
  color: var(--offWhite);
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}
.collapsible-header {
  display: flex;
  justify-content: space-between;
  border: none;
}

.collapsible-header i {
  margin-right: 0px;
}

.collapsible-body {
  border: none;
  padding: 0px;
}

.collapsible {
  border: none;
  margin: 20px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
#noResult {
  background-color: var(--offWhite);
  text-align: center;
  padding: 20px;
}
.sectionBox {
  border-radius: 5px;
  margin-top: 25px;
  padding-bottom: 10px;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.container {
  padding-bottom: 2.5rem;
  max-width: 1280px;
  width: 80%;
}

.browser-default {
  border-radius: 5px;
  padding-left: 3%;
  font-family: sans-serif;
  font-weight: 300;
  background-color: var(--offWhite);
}

nav ul a {
  font-size: 1.3rem;
  padding: 0 30px;
}

#scroll-nav a {
  color: black;
}

#scroll-nav a:hover {
  border-left: 1px solid var(--tableHeader);
}

.gif {
  width: 400px;
  border: solid 1px var(--teal);
  border-radius: 5px;
}

#keyImg {
  width: 200px;
  border: solid 1px var(--teal);
  border-radius: 5px;
}

.table-of-contents a.active {
  font-weight: 500;
  padding-left: 14px;
  border-left: 2px solid var(--tableHeader);
}

.errorMessage {
  color: var(--tableHeader);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.errorIcon {
  margin-left: 5px;
}

.open {
  transform: rotate(180deg);
}
#tutorialHeader {
  color: var(--offWhite);
  background-color: var(--tableHeader);
  padding: 20px;
  border-radius: 5px;
  font-weight: 500;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2);
}

.MuiTooltip-tooltip {
  width: 100px;
  height: 30px;
}

.tooltipText {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
}

.copy-button {
  position: relative;
  right: 4px;
}

#copy-button {
  border-radius: 10%;
  margin-right: 10px;
  height: 40px;
  width: 40px;
  align-self: center;
}

.current-search-box {
  margin: 20px;
  background-color: #fffef7;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.inner-current-search-box {
  margin: 20px;
  padding: 10px;
  width: 90%;
}

#resultStyle {
  height: 400px;
}

div.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}
.loaderItem {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  margin: 1vw;
  background-image: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: bounce 1.5s 0.5s linear infinite;
}
.teal1 {
  background-color: var(--teal2);
}

.teal2 {
  background-color: var(--teal3);
  animation-delay: 0.1s;
}

.teal3 {
  background-color: var(--teal);
  animation-delay: 0.2s;
}

.teal4 {
  background-color: var(--teal4);
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: scale(1);
    filter: blur(0px);
  }
  25% {
    transform: scale(0.6);
  }
  75% {
    transform: scale(1.4);
  }
}

select {
  border: none;
}

.list {
  margin-top: 8px;
  margin-left: 15px;
}

.listGrammar {
  margin-top: 8px;
}

.bold {
  font-weight: 700;
}

#keyTutorialContainer {
  display: flex;
}
