:root {
  --background: #ffeca1;
  --tableHeader: #ffb05f;
  /* --highlighted: #e0f2f1; */
  --offWhite: #fffef7;
  --teal: #26a69a;
  --highlighted: #ffd178ff;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  background-color: var(--background);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin-left: 1rem;
}

form div {
  margin: 1em;
  display: inline-block;
}

.table-container {
  display: flex;
  flex-direction: row;
}

td {
  border-top: solid 0.8px lightgrey;
}

.vis-table {
  margin: 20px;
  padding: 5px;
  background-color: var(--offWhite);
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.table-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  background-color: var(--tableHeader);
  /* #b2dfdb */
}

#last-search {
  margin: 20px;
  padding: 5px;
  background-color: #fffef7;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.query-box {
  margin: 20px;
  background-color: #fffef7;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.queryVisBox {
  /* padding-left: 10px;
  padding-right: 10px */
}

.inner-query-box {
  margin: 20px;
  padding: 10px;
}

#submit-row {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}
.btn {
  margin-left: 12px;
}

#inner-query-box {
  width: 95%;
}

.highlighted,
#highlighted {
  background-color: var(--highlighted);
}

.bold-title {
  font-weight: bold;
}

.result-table {
  width: 100%;
}

.collection-item:hover {
  cursor: pointer;
}

.result-body {
  background-color: var(--offWhite);
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: auto;
  padding: 5px;
}

.result-header {
  background-color: var(--highlighted);
}

.defaultHistory {
  padding-left: 25px;
}

/* .menu {
  background-color: var(--offWhite);
  border-radius: 5px;
} */

.menuItem {
  /* border-bottom: solid lightgrey 1px; */
  padding: 2px;
  display: flex;
  align-items: center;
  background-color: var(--offWhite);
}
.menuItemHeader {
  /* border-bottom: solid lightgrey 1px; */
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--teal);
  font-size: 40;
  color: var(--offWhite);
}

.key {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-left: 5px;
}

.menuIcon {
  padding-right: 10px;
  padding-left: 3px;
}

.copyright {
  position: fixed;
  bottom: 10px;
}

h5 {
  font-weight: 300;
  font-size: 20px;
  color: #757575;
  /* padding-left: 16px; */
  height: 1.5rem;
  line-height: 1.5rem;
}

.scrollspy p {
  color: #757575;
}

h4 {
  font-weight: 300;
  color: #757575;
  text-align: center;
}

.brand-logo {
  font-weight: 500;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.topDiv {
  display: flex;
  justify-content: space-between;
}

.topLeftDiv {
  width: 80%;
  margin-top: 18px;
}

.sectionTitle {
  background-color: var(--teal);
  color: var(--offWhite);
  padding: 15px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.sectionBox {
  /* box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25); */
  border-radius: 5px;
  margin-top: 25px;
  padding-bottom: 10px;
}
